
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Total Value</title>
</head>
<body>
    <div> 
        Total value equals @Model zł.
    </div>
</body>
</html>
